[Unit]
Description=Serial and video device port monitor
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/device-port-monitor/device-port-monitor-monitor --monitor
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
