[Desktop Entry]
Type=Application
Version=1.0
Name=Device Port Monitor
Comment=Monitor ACM, USB serial, and video devices
Exec=device-port-monitor --settings
Icon=device-port-monitor
Terminal=false
StartupNotify=true
Categories=Utility;
Keywords=USB;Serial;Camera;Device;Port;
